{% extends "base.html" %}

{% block title %}
    <title>Page 404 Not Found</title>
{% endblock %}

{% block content %}

<div class="container content" style="">     
        <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <div class="error-v1">
                <span class="h1-404">404</span> <br>
                <span class="text-size-18">That’s an error!</span>
                <p class="text-size-16">The requested URL was not found on this server. That’s all we know.</p>
                <a class="btn-u btn-bordered" href="/">Back Home</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
</div>
{% endblock %}